### list, tuple, set, dictionary
 - 여러개의 데이터를 담을 수 있는 type
 - JAVA(list, map, set)이 존재
 
list : 생성된 후에 값 변경 가능  
tuple : 생성된 후에 값 변경 불가능

In [7]:
# 학점 관리 프로그램
# A, B, C, D, F
grade = ['A','B','C','D','F']
score= 92
if score >= 90:
    print(grade[0])
elif score >= 80:
    print(grade[1])
# ...

A

### 리스트를 생성 방법
1. [, ,] 값을 담음
2. list() 함수로 생성
3. str.split() 함수로 생성

In [9]:
# java 예약어로 변수를 생성함녀 에러가 발생
# python 예약어로 ㅂ젼수 생성하면 생성되고, 기존에 예약어 기능을 상실함
grade = [1,2,3,4,5]
list = ['A','B','C'] #리스트타입의 list변수를 생성 but list() 사용불가
# list에 이름을 변경하면 되는데, 
# String name = 'cholong'; 기본자료형 X, 객체자료형
# name = '파이리';
del list # 백그라운드 객체 제거
a = list()

 - 다양한 데이터 타입을 담을 수 있음

In [10]:
a= []
print(a)

[]

In [11]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [12]:
a= ['korea','파이리','A',1,23,[34,56]]
print(a)

['korea', '파이리', 'A', 1, 23, [34, 56]]

 - list() 함수
   - 다른 데이터 타입을 list로 변경시킬 때 많이 사용

In [14]:
c= 'Hello Python'
d= list(c)
print(d)

e= (1,2,3) # 튜플
f= list(e)
print(f)

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

 - String split 함수(자주 사용)

In [16]:
a= 'Life is too short you need python'
b= a.split()
print(b) # split()을 사용하면 결과 list  타입으로 담긴

['Life', 'is', 'too', 'short', 'you', 'need', 'python']

**리스트 인덱싱**

In [18]:
a= [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

 - 인덱스로 값을 변경
 - 파이썬에서 tuple과 문자열은 불변객체입니다. 생성하면 변경 불가!

In [21]:
a= [1,2,3,4,5]
a[2]= 10
print(a)

b= 'Hello Python'
print(b[0])
b[0] ='h'
print(b)

[1, 2, 10, 4, 5]
H

TypeError: 'str' object does not support item assignment

In [23]:
# 불변이기 때문에 실제 변수에 값을 변경은 불가!!
# 새로운 변수를 생성해서 기존값을 전처리 후 옮기는 방법
b= 'Hello Python'
c= 'h'+b[1:]
print(c)

d= b.replace('H','h')
print(d)

hello Python
hello Python

### 리스트 슬라이싱
 - 문자열 슬라이싱과 동일
 - 경과도 llist로 받음

In [29]:
a= [1,2,3,4,5,6,7,8,9,10]
print(a[:])
print(a[:5])
print(a[5:])
print(a[3:7])

# 슬라이싱
# 시작:끝:증가값(index)

a[0:10]
a[0:10:2]
a[0:10:3]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6, 7]

[1, 4, 7, 10]

### 리스트 멤버 함수
 - append(): 가장 마지막에 값을 담음

In [31]:
a= [1,2,3,4,5]
a.append(10) # a를 가장 마지막에 담음
print(a)

[1, 2, 3, 4, 5, 10]

 - extend()

In [38]:
a= [1,2,3]
b=[4,5]
# [1,2,3,4,5]
a.append(b)
print(a)
del a
a= [1,2,3]
a.extend(b)
print(a)
del a
a= [1,2,3]
a+=b # == a.extend(b)
print(a)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

 - insert()
   - 원하는 위치에 값을 추가 가능

In [40]:
a= [1,2,3,4,5]
a.insert(1,10) # 1번 인덱스에 10이라는 값을 추가
               # 기존 1번인덱스값은 2번인덱스로 한칸씩 밀림
print(a)

[1, 10, 2, 3, 4, 5]

 - remove()
   - 실제값으로 삭제(인덱스 X)
   - 실제값과 동일한 값이 존재하는 경우 가장 앞에 값만 삭제
   - 지우려는 실제값이 list에 없으면 에러 발생

In [41]:
a= [5,1,2,3,4,5]
# a.remove(9)
a.remove(5)
print(a)

[1, 2, 3, 4, 5]

 - pop()
   - 인덱스로 삭제
   - 삭제하려는 인덱스에 값을 반환 후 삭제 가능
   - 매개변수가 없으면 가장 마지막 값을 삭제

In [44]:
a=[1,2,3,4,5]
# a.pop()
b= a.pop(1) # b = 2, a[1]값을 삭제
print(a)
print(b)

[1, 3, 4, 5]
2

 - index()
   - 찾고자하는 값의 인덱스를 반환

In [48]:
a= [1,2,3,4,5]
a.index(1) # 1이라고 하는 실제값의 인덱스를 반환

0

 - in 키워드
   - 결과 : True, False
   - list에 해당 값이 존재하는지 유무

In [50]:
a= [1,2,3,4,5]
b= 10
c=b in a
d=2
print(c)
print(d in a)

False
True

 - list 정렬
   1. sort() : 기존 리스트를 정렬
   2. sorted() : 복사본을 생성하고 정렬(기존 리스트는 그대로)

In [57]:
a= [5,7,8,3,4,9,10]
b=sorted(a) # 기존 a는 변경 안함
print(a)
print(b)
a.sort(reverse=True) # 기존 a를 정렬, reverse=False(오름차순)
print(a)
print(b)

[5, 7, 8, 3, 4, 9, 10]
[3, 4, 5, 7, 8, 9, 10]
[10, 9, 8, 7, 5, 4, 3]
[3, 4, 5, 7, 8, 9, 10]

### Tuple
 - 여러개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능
 - ()로 생성

In [60]:
a= 1,2,3 # ()생략 가능
print(a)

a[0] =10 #tuple 값 변경 불가능
print(a)

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

### 튜플 언패킹
 - 여러개의 변수에 동시에 값을 집어넣을 때 사용

In [61]:
a,b,c,d=(100,200,300,400)
print(a,b,c,d)

100 200 300 400

In [63]:
a=100
b=200
# java
c=a
a=b
b=c
print(a,b) # 200, 100
a,b=b,a # python
print(a,b)

200 100
100 200