### for 반복문
 ```python
    a = [1,2,3,4,5]
    for i in a:
        print(i, i*2)
    # JAVA(일반 for문)
for (int i= 0; i<a.size(); i++) {
    System.out.println(a[i],a[i]*2);
}
# JAVA(향상된 for문 : for each)
for(NumberDTO nDto : a) {
    System.out.println(nDto,nDto*2);
}
 ```

In [3]:
a=[1,2,3,4,5]
for i in a: # a의 갯수만큼 반복
    print(i, i *2)
print('하하하')

1 2
2 4
3 6
4 8
5 10
하하하

In [5]:
# 문자열 출력가능
for x in 'Hello Python':
    print(x)

H
e
l
l
o

P
y
t
h
o
n

In [7]:
# 리스트 출력가능
for num in a:
    print(num)

1
2
3
4
5

In [9]:
# dict 출력가능
a ={'불꽃':'리자몽','물':'거북왕','풀':'이상해꽃'}
for key in a:
    print(key, a[key])
for value in a.values():
    print(value)
list(a.items())

for key, value in a.items():
    print(key, value)

불꽃 리자몽
물 거북왕
풀 이상해꽃
리자몽
거북왕
이상해꽃
불꽃 리자몽
물 거북왕
풀 이상해꽃

### for에서 index 사용
 - for는 리스트를 순회하는 경우 값만 가져옴
 - enumerate 함수를 이용하면 인덱수, 값 모두 사용 가능
```python
a= [1,2,3,4,5]
for i, val in enumerate(a):
print i, val
```

In [14]:
a=[1,2,3,4,5]
for index, num in enumerate(a):
    if index > 3:
        print(index,num)
if num in a:
    None
if num in a:
    pass # if문만 생성하고 실행문은 없을 때 pass 사용

4 5

### break
    - loop 종료!

In [17]:
a= [100,300,200,400,700]
for num in a:
    if num >300:
        break
    print(num)

100
300
200

###  continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

In [18]:
a= [100,300,200,400,700]
for num in a:
    if num<=200:
        continue
    print(num)

300
400
700

In [20]:
a=[1,2,4]
for i in a:
    for j in a:
        print(i*j)

1
2
4
2
4
8
4
8
16

In [29]:
# 구구단 9단 만들기
num = [1,2,3,4,5,6,7,8,9]
# num = range(10) # 첫시작 0
num = list(range(1,20))
print(list(range(1,100,5))) # (시작값, 끝값, 배수)
for i in num:
    result = 9*i
    print('9 X {} = {}'.format(i,result))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171

In [36]:
# 2~9단까지 출력
dansu = list(range(2,10))
num= list(range(1,10))
for i in dansu:
    for j in num:
        result = i * j
        print('{} X {} = {}'.format(i,j,result))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 1. 1~100까지 정수 중 2의 배수 11의 배수를 모두 출력하시오

In [66]:
num = list(range(1,101))

for i in num:#if num%2==0 or num%11==0
    if i%2 == 0 or i%11 == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

# 2. a=[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 9, 20, 45] 최대값과 최소값을 찾으시오(sorted, sort 사용금지)

In [72]:
a=[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 9, 20, 45]
b=a[0]
c=a[0]
for i in a[1:]:
    if b < i:
        b=i
    if c > i:
        c=i
print(b,c)

99 1

# 3. a=[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 9, 20, 45]에서 평균을 구하시요.

In [67]:
a=[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 9, 20, 45]
sum =0
for i in a:
    sum = sum+i
avg = sum/len(a)
print(avg)

36.23076923076923